{%- macro form_row(name, id, classes, placeholder="None", label="None", type="text", value ="None") %}
    <div class="{{ classes }}">
    {%- if not type == "submit" %}
        <label for="{{ id }}">{{ label|capitalize|e if label != "None" else type|capitalize|e}}</label>
    {% endif -%}
        <input type="{{ type }}" id="{{ id }}" name="{{ name }}" placeholder="{{ placeholder if placeholder != 'None' else ''}}" value="{{ value if value != 'None' else '' }}">
    </div>
{% endmacro -%}

{%- macro m_form(action_url,  page_target, form_data) %}
    <form action="{{ action_url }}" method="post" enctype="multipart/form-data" class="form_style" accept-charset="utf-8">
        {%- if  page_target != 'search'%}
            <div class="text_row">
                <label for="f_name">Имя файла:</label>
                <input id="f_name" class="text_row" name="name" placeholder="Пример: myfile" value="{{ form_data.name }}">
            </div>  
        {% endif -%}
        {%- if page_target != 'search' and page_target != 'update' %}
            {{ form_row("ext", "f_ext", "text_row", label="Расширение файла:", placeholder="Пример: txt, mp3") }}
        {% endif -%}
        <div class="text_row">
            <label for="f_path">Путь к файлу:</label>
            <input id="f_path" class="text_row" name="path", placeholder="Пример: /my_dir" value="{{ form_data.path }}">
        </div>
        {%- if  page_target == 'insert' or page_target == 'update' %}
            <textarea name="comment" id="f_comm" rows="2" cols="100" name="comment" placeholder="Комментарий:">{{ form_data.comment }}</textarea>
        {% endif -%}
    
        {%- if page_target == 'insert'%}
            {{ form_row("file_choose", "f_file", "file_row", label="Выбрать файл:", type="file") }}
        {% endif -%}
    
        {{ form_row("submit", "rid_3", "submit_row", type="submit", value="Отправить") }}
    </form>
{% endmacro -%}